.teacher-sign-up {
  background-image: url("../../../../resources/sign-up-user.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  background-size: auto;
  overflow: hidden;
  padding-bottom: 100px;
}
.sign-up-img {
  width: 460px !important;
  height: 340px !important;
  padding-top: 40px;
  padding-left: 20px;
  margin-top: 120px;
}
.mid-content {
  margin-left: 30px;
}
.top-logo {
  width: 140px;
  height: 70px;
  margin-left: 20px;
}
.form-teacher {
  height: 550px;
  width: 410px;
  background-color: white;
  padding: 25px;
  margin-left: 40px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 20px silver;
}
.form-hw {
  width: 350px !important;
  height: 35px !important;
  border-radius: 5px;
}
.sign-up-btn {
  width: 350px;
  height: 35px;
  border-radius: 5px;
  background-color: #ff8a00 !important;
  color: white !important;
}
.sign-btn-back {
  text-decoration: none;
  color: #ff8a00;
}
.sign-btn-back:hover {
  color: #ff8a00;
}
